@font-face {
    font-family: 'Driver Gothic';
    src: url('DriverGothic.eot');
    src: local('Driver Gothic'), local('DriverGothic'),
        url('DriverGothic.eot?#iefix') format('embedded-opentype'),
        url('DriverGothic.woff2') format('woff2'),
        url('fonts/DriverGothic.woff') format('woff'),
        url('DriverGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.form-container {
    background: rgba(255, 255, 255, 0.57);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.1px);
-webkit-backdrop-filter: blur(15.1px);
border: 1px solid rgba(255, 255, 255, 1);
    
}
input {
    text-align: center;
}


.plate_img {
    position: relative;
    text-align: left;
}
.platecontainer {
    position: relative;
  text-align: center;
}
/*change here with custom CSS styling*/
.platetext {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
    font-family: 'Driver Gothic' !important;
    text-align: left !important;
    /* color profile jquery css class */
    color: #00407e;
    text-shadow: 2px 2px 2px #333333;
}

@media screen and (max-width: 767px) {
    .platetext {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        font-size: 25vw;
        font-family: 'Driver Gothic' !important;
        text-align: left !important;
    
    }
  }

  body {
    background-image: url('https://images.unsplash.com/photo-1464376810568-596bdd5a1897?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1384&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow-x: hidden;
  }
  h1 {
    font-family: 'Roboto',  sans-serif;
    font-weight: 300 !important;
  }