@font-face {
    font-family: 'Driver Gothic';
    src: url('DriverGothic.eot');
    src: local('Driver Gothic'), local('DriverGothic'),
        url('DriverGothic.eot?#iefix') format('embedded-opentype'),
        url('DriverGothic.woff2') format('woff2'),
        url('fonts/DriverGothic.woff') format('woff'),
        url('DriverGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.form-container,
.textbox {
    background: rgba(255, 255, 255, 0.849);
    border-radius: 16px;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(15.1px);
    -webkit-backdrop-filter: blur(15.1px);
    border: 1px solid rgba(255, 255, 255, 1);
    color: #00407e;
}
li {
    text-align: left !important;
}

input {
    text-align: center;
}
.nav-link {
    font-weight: 600;
    font-family: 'Proxima Nova', sans-serif !important;
}
.navbar-brand {
    font-weight: 600;
    font-family: 'Proxima Nova', sans-serif !important;
}

.plate_img {
    position: relative;
    text-align: left;
    /* -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1)); */
    overflow: hidden;
    
}

.platecontainer {
    position: relative;
    text-align: center;
    
}

/*change here with custom CSS styling*/
.platetext {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 12vw;
    font-family: 'Driver Gothic' !important;
    text-align: left !important;
    /* color profile jquery css class */
    color: #00407e;
    text-shadow: 2px 2px 2px #333333;
}

@media screen and (max-width: 767px) {
    .platetext {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        font-size: 25vw;
        font-family: 'Driver Gothic' !important;
        text-align: left !important;

    }
    .description {
        font-size: 16px !important;
    }
}

.description {
    font-size: 18px;
}

body {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1467%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient1468)'%3e%3c/rect%3e%3cpath d='M614.8358032083571 51.96086060144345L611.9658073340759 216.38281411945144 776.3877608520838 219.25280999373265 779.2577567263651 54.83085647572465z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M493.73630559066305 147.95478643609792L380.5206305990519 125.94788853199309 358.51373269494707 239.16356352360424 471.7294076865582 261.17046142770903z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1389.659691650085 582.668505745368L1435.6399516764086 488.3950019765818 1341.3664479076224 442.41474195025825 1295.3861878812988 536.6882457190444z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1013.7723589258492 193.60702014820288L1099.8337343339172 216.66709618830643 1122.8938103740206 130.6057207802384 1036.8324349659526 107.54564474013486z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1230.768047392651 296.0451254629373L1202.4586463314872 378.2615959652562 1284.6751168338062 406.5709970264199 1312.98451789497 324.35452652410095z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-30.711357385212345 517.331452707575L108.42959908460861 502.7071488836797 93.80529526071334 363.5661924138587-45.335661209107634 378.190496237754z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M511.865673499379 125.58734801321928L621.2457617310257 104.3260126492408 599.9844263670473-5.054075582405957 490.6043381354005 16.20725978157253z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M890.4286798853371 583.7987651095664L960.9205562931741 483.1259323262026 860.2477235098103 412.6340559183658 789.7558471019734 513.3068887017296z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M547.020115079378 214.2820394697478L561.7252905983898 74.37164021855682 421.81489134719885 59.666464699544974 407.10971582818706 199.57686395073594z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M787.9065437123871 461.94866639367285L748.6771832600928 546.0763013707821 832.804818237202 585.3056618230764 872.0341786894963 501.1780268459672z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M914.5588368478595 282.62703210556845L927.2804508054691 137.21831919455295 781.8717378944535 124.49670523694346 769.150123936844 269.905418147959z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M790.9925838147625 394.69292806191163L662.3640095722117 352.8989707921502 620.5700523024502 481.527545034701 749.198626545001 523.3215023044625z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1514.0220860572028 128.27968047434052L1461.2164600454053 46.966147086477505 1379.9029266575424 99.77177309827502 1432.7085526693397 181.08530648613805z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M993.2532266254583 464.5369060775861L1057.9417219727916 527.0058598936653 1120.4106757888708 462.3173645463321 1055.7221804415376 399.8484107302528z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M58.129685323218894 331.1949109961374L128.92088172431343 198.05603441106896-4.217994860755027 127.26483800997443-75.00919126184957 260.40371459504286z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M804.9278707891002 436.44619693525414L751.5422398778827 525.294807113131 840.3908500557596 578.6804380243485 893.7764809669771 489.83182784647164z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M163.68565106209036-71.40407215913385L44.750563780078565-2.7368675007726893 113.41776843843972 116.19821978123909 232.35285572045152 47.531015122877946z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M160.9555534800183 317.7945018625073L31.010228153689468 290.1737703060504 3.3894965972326077 420.11909563237924 133.33482192356144 447.7398271888361z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M618.1404779796278 118.05908603948173L716.7628901778806 58.80076239604823 657.5045665344472-39.82164980220465 558.8821543361943 19.43667384122884z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M141.56665269536177 482.4998555674435L261.81730842427146 418.56144775290477 197.87890060973277 298.3107920239951 77.62824488082308 362.2491998385338z' fill='rgba(217%2c 229%2c 243%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1467'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='100%25' r='912.14' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1468'%3e%3cstop stop-color='rgba(211%2c 233%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(168%2c 206%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-color: hsl(216, 100%, 96%);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow-x: hidden;
    font-family: 'Proxima Nova', sans-serif !important;
}
#textBox {
    border: 2px solid #868686d5 !important;
}
#textbox[type="text"]:focus::before {
    border: 2px solid #ff0000d5 !important;
}

h1, h2, h3 {
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-weight: 700 !important;
    color: #1f2936;
}
#text {
    font-family: 'Proxima Nova', sans-serif !important;
}

h5 {
    color: rgb(41, 66, 112);
    font-size: x-large;
}

.front_page_container {
    height: 100vh;
}
.container-fluid {
    display: flex !important;
    justify-content: space-around !important;
}

.main {
    background-image: url(imgs/examples/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
    z-index: 9;
}
.front_page_container

.front_page_text {
    font-weight: 900 !important;
    color: black;
}

.icon {
    color: #152c92d5;
    align-items: center;
    font-size: x-large;
}

.footer {
    background-color: rgb(0, 0, 0);
}

.nav-link {
    color: white !important;
    text-align: center;
}

.github {
    color: white;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5vh;
    text-decoration: none !important;
}

.platebutton {
    background-color: rgba(255, 0, 0, 0.733);
}

.nav-title {
    color: rgb(184, 184, 184) !important;
}
.plate-container {
    height: 300px; overflow: auto;
    background-color: #e9e9eb;
}

input[type='radio'] { transform: scale(1.6);
margin-left: 8px }
.navbar {
    background-color: #132472d5 !important;
}